API_GROQ=
API_OPENROUTER=
API_TAVILY=
MODELO_OPENROUTER_1=nvidia/nemotron-3-ultra-550b-a55b:free
MODELO_OPENROUTER_2=nvidia/nemotron-3.5-lightning:free
MODELO_OPENROUTER_3=nvidia/nemotron-3-super-120b-a12b:free
MODELO_OPENROUTER_4=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
